.center-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: white;
    font-weight: bolder;
    color: black;
    border: 3px solid black;
    border-radius: 7px;
    margin-top: 50vh;
    cursor: pointer;
  }
  
  .center-button:hover {
    background-color: black;
    color: white;
    font-weight: bolder;
    border: 3px solid #000000;
  }